{% extends "app/layout.html" %}
{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="sub-header">{{view_decript}}</h2>
        <h5>
            Номер :
            {{ event.eventid  }}
        </h5>
        <h5>
            Назіва :
            {{ event.name  }}
        </h5>
        <h5>
            Деталі :
            {{ event.details  }}
        </h5>
        <h5>
            Місце :
            {{ event.place  }}
        </h5>
        <h5>
            Дата події :
            {{ event.date  }}
        </h5>
        <h5>
            Початок голосування :
            {{ event.votingStart  }}
        </h5>
        <h5>
            Кінець голосування :
            {{ event.votingEnd  }}
        </h5>
        <h5>
            Link to share :
            <a href="/evnt/{{event.eventid}}"> pactum.com/evnt/{{event.eventid}}</a>
        </h5>

        {% if date_now <= event.votingEnd and date_now <= event.date %}
            <form class="form-signin" action="{% url 'voting' %}" method="POST">
            {% csrf_token %}

                <input style="display:none" type="text" name="evt_id" value="{{event.eventid}}">
                <button class="btn btn-success btn-md" type="submit" value="Login">Прийняти участь</button>
            </form>
        {% else %}
            <h2>UFO вже скомуніздило це голосування (Голосування завершено) </h2>
            <h5>Подія відбудеться(відбулась) : {{meet_event_date_max}} </h5>
        {% endif %}
    </div>


{% endblock %}