{% extends "app/layout.html" %}


{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h2>Lets Login?</h2>

    <br />
      <a class="btn btn-md btn-info" href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a>
       <br />
        <hr />
        <br />
      <a class="btn btn-md btn-info" href="{% url 'social:begin' 'github' %}">Login with GitHub</a>

</div>
{% endblock %}


{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
